:root {
  /* Primary */

  --Light--red: hsl(356, 100%, 66%); /*(CTA text) */
  --Very-light-red: hsl(355, 100%, 74%); /* (CTA hover background) */
  --Very-dark-blue: hsl(208, 49%, 24%); /* (headings) */

  /* Neutral */

  --White: hsl(0, 0%, 100%); /* (text) */
  --Grayish-blue: hsl(240, 2%, 79%); /* (footer text) */
  --Very-dark-grayish-blue: hsl(207, 13%, 34%); /* (body copy) */
  --Very-dark-black-blue: hsl(240, 10%, 16%); /*(footer background) */

  /* Gradient */

  /* Background gradient - Intro/CTA mobile nav: */

  --Very-light-red: hsl(13, 100%, 72%);
  --Light-red: hsl(353, 100%, 62%);

  /* Background gradient - body: */

  --Very-dark-gray-blue: hsl(237, 17%, 21%);
  --Very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

.arrow:hover {
  transform: scale(-1);
}

.arrow-mb {
  display: none;
}

.attribution {
}
.burger {
  display: none;
}
.close {
  display: none;
}
.editor--info {
  display: flex;
  flex-direction: column;
  gap: 5.25rem;
}
.editor--info-item {
}
.editor--info-item-excerpt {
  font-size: 0.88rem;
  color: var(--Very-dark-grayish-blue);
  width: 48ch;
}
.editor--info-item-title {
  font-size: 1.55rem;
  color: var(--Very-dark-blue);
  margin-bottom: 2.25rem;
}
.editor--photo {
  overflow: hidden;
}
.editor--photo-img {
  width: 124%;
  max-width: 629px;
  display: inline;
  position: relative;
  left: 100px;
}
.editor--photo-img-mobile {
  display: none;
}
.footer {
  background-color: var(--Very-dark-black-blue);
  color: var(--Grayish-blue);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  justify-content: center;
  justify-items: center;
  padding-left: 10.3rem;
  padding-right: 10.3rem;
  padding-bottom: 4.75rem;
  padding-top: 4.75rem;
  border-top-right-radius: 100px;
}
.footer-logo {
}
.footer__category {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.footer__category-title {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: var(--White);
}
.footer__company {
}
.footer__list {
  padding: 0px;
}
.footer__list-item {
  list-style-type: none;
}
.footer__list-link {
  text-decoration: none;
  color: var(--Grayish-blue);
}

.footer__list-link:hover {
  text-decoration: underline;
}
.footer__logo {
}
.footer__logo-link {
}
.footer__product {
}
.header {
  background-image: url(./images/bg-pattern-intro-desktop.svg);
  background-repeat: no-repeat;
  background-size: 162%;
  background-color: var(--Light--red);
  background-position: left;
  display: flex;
  flex-direction: column;
  padding-left: 10.3rem;
  padding-right: 10.3rem;
  padding-top: 3.62rem;
  padding-bottom: 3.62rem;
  font-size: 1.11rem;
  color: var(--Grayish-blue);
  margin-top: 1.62rem;
  margin-bottom: 3.24rem;
  border-bottom-left-radius: 100px;
  margin-top: 0;
}

/* .header::before {
  content: "";
  position: absolute;
  background: url(./images/bg-pattern-intro-desktop.svg);
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
} */

.header--title {
  font-size: 3.33rem;
  color: var(--White);
  width: 24ch;
  display: inline-block;
}

.header--excerpt {
  margin-bottom: 2.93rem;
}
.header__main {
  margin-top: 9rem;
  /* margin-bottom: 9rem; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__main-info {
  text-align: center;
}
.header__main-info--links {
}
.header__main-link,
.nav__link-action-signup {
  border: 2px var(--White) solid;
  border-radius: 24px;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}
.header__main-link-learn {
  background-color: var(--Very-light-red);
  color: var(--White);
}

.header__main-link-learn:hover {
  background-color: var(--White);
  color: var(--Light--red);
  border: none;
}

.header__main-link-start,
.nav__link-action-signup {
  background-color: var(--White);
  color: var(--Light-red);
  border: none;
}

.header__main-link-start:hover {
  background-color: var(--Very-light-red);
  color: var(--White);
}
.header__nav {
  /* display: flex; */
}
.homelink {
}

.homelink-mobile {
  display: none;
}
.laptop--info {
  padding-right: 10.3rem;
}
.laptop--info-item {
}
.laptop--info-item-excerpt {
  color: var(--Very-dark-grayish-blue);
  width: 49ch;
}
.laptop--info-item-title {
  font-size: 1.75rem;
  color: var(--Very-dark-blue);
  margin-bottom: 2.25rem;
}
.laptop--photo {
}
.laptop--photo-img {
  width: 100%;
  max-width: 712px;
  position: relative;
  right: 203px;
  overflow: hidden;
}
.laptop--photo-img-mobile {
  display: none;
}
.logo {
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__info {
}
.main__info-title {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.11rem;
  color: var(--Very-dark-blue);
}
.nav {
}
.nav--main {
  display: flex;
  justify-content: space-between;
}

.nav--main-left {
  display: flex;
  align-items: center;
  gap: 4.06rem;
}

.nav--main-right {
  display: flex;
  align-items: center;
}

.nav--main-right-mobile {
  display: none;
}

.nav--main-btns {
  display: flex;
  gap: 2rem;
}
.nav__link {
  text-decoration: none;
  display: flex;
  /* flex-direction: column;
  align-items: center; */
  border: none;
  background: none;
}

.nav__link-btn {
  display: flex;
}

.nav__link-actions {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav__link-action {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: var(--White);
}

.nav__link-action-signup {
  background-color: var(--White);
  color: var(--Light-red);
  border: none;
  width: 136px;
  text-align: center;
  display: inline;
}

.nav__link-action-signup:hover {
  background-color: var(--Very-light-red);
  color: var(--White);
}

.nav__link-action-login {
}

.nav__link:hover .submenu,
.nav__link:focus .submenu {
  /* display: block; */
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 25px;
}

.phones--info-item {
  margin-top: 6.87rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.phones--info-item-excerpt {
  font-size: 1.15rem;
  color: var(--White);
  font-weight: 300;
  width: 49ch;
  margin-bottom: 6.37rem;
}
.phones--info-item-title {
  font-size: 2.22rem;
  color: var(--White);
  font-weight: 600;
  margin-bottom: 2.25rem;
}
.phones--info-photo {
  position: relative;
  top: -36px;
  width: 100%;
  max-width: 552px;
}
.section__editor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  padding-left: 10.3rem;
  /* padding-right: 10.3rem; */
  gap: 7.93rem;
}
.section__laptop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: start;
  align-items: center;
  /* padding-left: 10.3rem;
  padding-right: 10.3rem; */
  margin-bottom: 7.5rem;
  margin-top: 7.5rem;

  /* background: linear-gradient(
    to right,
    var(--Very-dark-gray-blue),
    var(--Very-dark-desaturated-blue)
  ); */
}

.section__phones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  justify-items: center;
  gap: 2rem;
  background-image: url(./images/bg-pattern-circles.svg);
  background-repeat: no-repeat;
  background-color: var(--Very-dark-gray-blue);
  padding-left: 10.3rem;
  padding-right: 10.3rem;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  max-height: 396px;
}

.submenu {
  display: none;
  position: absolute;
  list-style-type: none;
  padding: 0;
  background-color: var(--White);
  padding: 35px 25px 35px 25px;
  border-radius: 18px;
  font-size: 15px;
  width: 10.5rem;
}
.submenu__item {
}
.submenu__link {
  text-decoration: none;
  color: inherit;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.submenu__link:hover {
  font-weight: 600;
}

span {
  display: flex;
  align-items: center;
  gap: 0.37rem;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: var(--White);
}

span:hover {
  text-decoration: underline 2px;
  cursor: pointer;
}

@media (max-width: 1050px) {
  .arrow {
    display: none;
  }

  .arrow-mb {
    display: inline;
  }

  .arrow-mb:hover {
    transform: scale(-1);
  }

  .burger {
    display: inline-block;
    background-color: transparent;
    border: none;
  }

  .close {
    /* display: inline-block; */
    background-color: var(--Black);
    border: none;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__category {
    align-items: center;
    gap: 1rem;
  }

  .footer__logo {
    margin-bottom: 4.25rem;
  }

  .header {
    margin-bottom: 5.75rem;
  }

  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header--title {
    width: 14ch;
  }

  .homelink {
    display: none;
  }

  .homelink-mobile {
    display: block;
  }

  .main__info-title {
    margin-bottom: 2.5rem;
  }
  .nav--main {
    display: none;
    /* position: relative;
    display: flex;
    flex-direction: column; */
  }

  .nav__link > span {
    font-size: 1.12rem;
    color: var(--Very-dark-grayish-blue);
    font-weight: 600;
    text-decoration: none;
  }

  .nav__link > span:hover {
    color: var(--Very-dark-black-blue);
  }

  .nav__link-btn {
    justify-content: center;
  }

  .nav__link-action-login {
    color: var(--Very-dark-black-blue);
    font-weight: 700;
  }

  .nav__link-action-signup {
    border: 1px var(--White) solid;
    border-radius: 24px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    background-color: var(--Light--red);
    color: var(--White);
    text-transform: capitalize;
  }

  .nav--open {
    transform: translateX(0);
    pointer-events: all;
    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    text-transform: uppercase;
    /* position: fixed; */
    position: absolute;
    top: 105px;
    right: 34px;
    /* bottom: 0; */
    /* min-height: 50%; */
    display: block;
    z-index: 100;
    width: 85%;
    padding: 2.5rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    color: var(--Very-dark-black-blue);
    align-items: center;
    font-size: 28px;
    font-family: "Josefin Sans";
    /* flex-direction: column-reverse; */
    justify-content: flex-start;
    gap: 8rem;
    /* opacity: 0.5; */
    background-color: var(--White);
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; */
  }

  .nav__link-actions-mb {
    display: flex;
    flex-direction: column;
  }

  .nav--main-btns {
    display: flex;
    flex-direction: column;
  }

  .nav--main-left {
    flex-direction: column;
  }

  .phones--info-item {
    align-items: center;
    text-align: center;
    margin-top: 0;
  }

  .phones--info-item-excerpt {
    width: 36ch;
  }

  .phones--info-item-title {
    width: 24ch;
  }

  .section__editor {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    align-content: center;
    padding-right: 10.3rem;
    gap: 3rem;
    margin-bottom: 3rem;
  }

  .section__phones {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: none;
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    align-items: start; */
  }

  .section__laptop {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    /* padding-left: 10.3rem;
    padding-right: 10.3rem; */
    margin-left: 10.3rem;
    margin-right: 10.3rem;
  }

  .submenu {
    background-color: rgb(239, 239, 241);
    padding: 35px 25px 35px 25px;
    border-radius: 18px;
    font-size: 15px;
    /* width: 10.5rem; */
    align-items: center;
    width: 85%;
  }

  /* .submenu:hover {
    display: flex;
  } */

  .editor--info {
    text-align: center;
    gap: 3rem;
  }

  .editor--photo-img {
    display: none;
  }

  .editor--photo-img-mobile {
    display: inline-block;
  }
}

/* .laptop--photo-img {
  display: none;
} */

/* .laptop--photo-img-mobile {
  display: inline;
} */

.laptop--info {
  padding-right: 0;
  text-align: center;
}

@media (max-width: 900px) {
  .editor--info-item-title {
    font-size: 1.56rem;
    width: 16ch;
    display: inline-block;
  }

  .editor--info-item-excerpt {
    width: 30ch;
  }

  .header {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .header--title {
    font-size: 1.87rem;
  }

  .main__info-title {
    font-size: 1.37rem;
  }

  .laptop--info-item-excerpt {
    width: 29ch;
  }

  .phones--info-item-title {
    width: 18ch;
    font-size: 1.65rem;
  }

  .phones--info-item-excerpt {
    font-size: 0.93rem;
    width: 29ch;
  }

  .section__phones {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-bottom: 5.5rem;
  }

  .section__laptop {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin: 0;
    margin-bottom: 5.5rem;
  }

  .section__editor {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-bottom: 11rem;
  }

  .laptop--photo-img {
    display: none;
  }

  .laptop--photo-img-mobile {
    display: inline;
  }
}
